<%= link_to 'Home', root_path, class: 'btn btn-sm btn-primary' %>

<h1>Languages</h1>

<div>
  <% @languages.each do |language| %>
    <div class="language">
      <%= link_to language.name.capitalize, language, class: 'btn btn-lg btn-default' %>
    </div>
  <% end %>
</div>