<%= link_to 'All Languages', languages_path, class: 'btn btn-sm btn-primary' %>

<h1><%= @language.name.capitalize %> Lessons</h1>

<ol>
  <% @lessons.each do |lesson| %>
    <li><%= link_to lesson.name, lesson %></li>
  <% end %>
</ol>
