<h1>Dialex</h1>

<h2>Learn with Confidence, Speak with Ease</h2>

<% if current_user %>
  <p>Welcome, <%= current_user.name %>. <%= link_to 'Logout', logout_path %></p>
<% else %>
  <p>Let's get started! <%= link_to 'Login', login_path %> or <%= link_to 'Register', register_path %></p>
<% end %>

<p>Pick a language:</p>
<ul>
  <li><a href="/lessons/arabic">Arabic</a></li>
  <li>Russian</li>
</ul>